<h3>Filtro de Motores</h3>
<div>
    <form (ngSubmit)="filtrar()">
        <div class="form-group">
            <label for="precio_minimo">Precio Mínimo</label>
            <input type="text" class="form-control" id="precio_minimo" [(ngModel)]="min" name="min">
        </div>
        <div class="form-group">
            <label for="precio_maximo">Precio maximo</label>
            <input type="text" class="form-control" id="precio_minimo" [(ngModel)]="max" name="max">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Filtrar</button>
        </div>
        <div class="card border-dark mb-3">
            <div class="card-header">Motores</div>
            <div class="card-body text-black">
                <h5 class="card-title">Listado de Motores</h5>
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let m of motores">
                            <th>{{m.idMotor}}</th>
                            <th>{{m.marca}}</th>
                            <th>{{m.modelo}}</th>
                            <th>{{m.precio}}</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        
        </div>
        
    </form>
</div>
